*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;


}



.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0rem 1rem;
 
}

.nav-logo{
    height: 50px;
    width: 100px;;
    
}


.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;

}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border:2px solid white;
}

.nav-adress{
    padding: 8px 8px;
}
.nav-icon{
    display: flex;
}

.Deliver{
    font-size: 0.8rem;
    Color: #CCCCCC;
    margin-left: 10px;
}

.nav-icon p{
    font-size: 0.92rem;
    font-weight: 500;
    color: #ffffff;
    margin-left: 2px;
}

.nav-search{
    display: flex;
    align-items: center;
}


.nav-search:hover{
    box-shadow: 0 0 5px 2px #a4a4a3;
    border: 1px solid #805f33;
    border-radius: 5px;
}
.nav-search select{
    height: 40px;
    width: 60px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
    background-color: #CCCCCC;
    padding-left: 5px;
 

}

.nav-search option{
    color: black;
    background-color: rgb(225, 225, 225);
    max-width: 5rem;
}

.searchbar{
    display: flex; 
    height: 40px;
    border: none;
}

.searchbar input{
    width: 700px;
    height: 100%;
    border: none;
    padding-left: 10px;
    color: black;
    font-size: 1rem;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.search-icon{
    display: flex;
    height: 40px;
    width: 50px;
    border: none;
    font-size: 1.2rem;
    background-color: #febd69;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.search-icon {
  background: #febd69;
  position: relative;
  overflow: hidden;
}

.search-icon::before {
  content: "";
  position: absolute;
  top: 0; left: -100%;
  width: 100%; height: 100%;
  background: #fca652;
  transition: left 0.5s ease;
}

.search-icon:hover::before {
  left: 0;
}
.B{
    height: 40px;
    border: none;
    display: flex;
    align-items: center;

}

.line1 span{
    font-size: 0.8rem;
    Color: #CCCCCC;
}

.line2 span{
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
}

.nav-signin{
    padding: 6px 6px;
    align-items: center;
    cursor: pointer;
}

.nav-orders{
    padding: 6px 7px;
    align-items: center;
}


.nav-cart{
    padding: 10px 10px;
    align-items: center;
    font-size: 1.3rem;
}

.cart{
    font-size: 0.9rem;
     font-weight: 500;
}

.panel{
    height: 2rem;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.2rem 0rem;
}


.menubar{
    padding: 0.5rem;
    margin-left: 0.3rem;
    font-weight: 550;
}
.panel-item{ 
    width: 95%;

}

.panel-item a{
    text-decoration: none;
    display: inline;
    margin-left: 1.2rem;
    font-size: 0.95rem;
    font-weight: 500;
    padding: 0.5rem;
    
}
/* hero-section */

.hero-section{
    background-image: url(hero_image.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    
}

.hero-msg{
    height: 2rem;
    width: 75%;
    background-color: white;
    margin-bottom: 2rem;
    
}

.hero-msg p{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.hero-msg a{
    color: rgb(65, 65, 183);
    text-decoration: none;
   

}

.shopping-center{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(152, 198, 236);
    padding: 1rem 0rem;
    
    
}

.box{
    height: 25rem;
    width: 22%;
    background-color: white;;
    color: black;
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-content{
    height: 100%;
    width: 90%;
    padding: 0.8rem 0.5rem;
   
}

.box-image{
    height: 80%;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    margin-top: 0.7rem;

   
   
}

.box h2{
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    
    
}

.box a{
    text-decoration: none;
    color: rgb(65, 65, 183);
    font-size: 1.2rem;
}


.back-to-top{
    height: 3.5rem;
    width: 100%;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.back-to-top:hover{
    background-color: #37475a;
    cursor: pointer;
}

.back-to-top a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.footpanel-info{
    background-color: #131a22;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0rem;
    height: 15rem;
}



.footpanel-info ul a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.695);
    font-size: 0.9rem;
    display: block;
    font-size: 0.95rem;
    margin-top: 0.8rem;
}

.footpanel-info ul a:hover{
    text-decoration: underline;
    color: white;
}

.footpanel-info ul p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.foot-panel2{
    background-color: #131a22;
    color: white;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
    gap: 5rem;
}


.fott{
    display: flex;
    gap: 0.3rem;
}

.img-logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 40px;
    width: 100px;
}

.language{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.border1{
    border: 2px solid rgba(255, 255, 255, 0.603);
}

.copyright-things{
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    padding: 2rem 0rem 1rem 0rem;
    background-color:#0c1015;;
}

.copyright-things ul{
    display: flex;
    gap: 1.7rem;
    font-size: 0.8rem;
}

.copyright-things  a{
    display: block;
    text-decoration: none;

}

.copyright-things span{
    font-size: 0.82rem;
    
}